
@{
    ViewBag.Title = "AboutUs";
}

<h2>AboutUs</h2>
<label> Our organisation is dedicated to saving the lives of people by allowing them to report disasters in real time and in turn help save innocent lives</label>
<input type="button"
       value="Go back"
       onclick="location.href='@Url.Action("Index", "Default")'" />

