
@{
    ViewBag.Title = "News";
}

<h2>News</h2>
<label>Top story: Our group has 2 gareths</label>
<br />
<label>Cyril ramaphosa has breakfast today, madness.</label>
<input type="button"
       value="Go back"
       onclick="location.href='@Url.Action("Index", "Default")'" />