
@{
    ViewBag.Title = "News";
}

<h2>Tutorials</h2>
<label>Top story: Our group has 2 gareths</label>
<br />
<label>The following information can help in disastern situations.</label>
<br />
<input type="button"
       value="Go back"
       onclick="location.href='@Url.Action("Index", "Default")'" />