
@{
    ViewBag.Title = "News";
}

<h2>Tutorials</h2>
<br />
<label>The following information can help in disaster situations.</label>
<br />
<br />
<h3>How to perform CPR (Revive an INF272 Student)</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ZXL8S0PXX7A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br />
<br />
<h3>How to help someone who is choking</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/QtqLAS5rgGQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br />
<br />
<h3>How to escape quicksand</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/snTNnCPNSUk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br />
<br />
<input type="button"
       value="Go back"
       onclick="location.href='@Url.Action("Index", "Default")'" />