
@{
    ViewBag.Title = "Request";
}

<h2>Request to create a new disaster</h2>
<p>You can request to create a new disaster and our administrator will aprrove it once its been verified</p>

<input type="button"
       value="Go Back"
       onclick="location.href='@Url.Action("Index", "Disasters")'" />


