
@{
    ViewBag.Title = "DisasterReportView";
}

<h2>DisasterReportView</h2>
<div class="criteria">
   
    @using (Html.BeginForm("Advanced", "Home", FormMethod.Post))
    {
        <label>From</label>
        @Html.TextBoxFor(m => m.DateFrom, "yyyy-MM-dd", new { @Value = "2013-08-01", @type = "date", @class = "form-control" })
        <label>To</label>
        @Html.TextBoxFor(m => m.DateTo, "yyyy-MM-dd", new { @Value = "2013-08-30", @type = "date", @class = "form-control" })
        <br />
        <input type="submit" value="Generate" class="btn btn-primary" />
    }
</div>
